body {
  font-family: Arial, sans-serif; /* Use a common font for better compatibility */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  color: #000; /* Set text color to white for better contrast */
}

div {
  text-align: center; /* Center align the content in div */
  margin-top: 20px; /* Add some top margin for spacing */
}

h1 {
  color: #818181; /* Set the heading color to white for better contrast */
}

.enter-code {
  color: #000000;
}

label {
  display: block; /* Make labels block-level for better spacing */
  margin-top: 10px; /* Add top margin for spacing */
}

.otp-bx {
  display: flex;
  justify-content: center; /* Center the OTP input horizontally */
  margin-top: 20px; /* Add top margin for spacing */
}

.otp-bx input {
  width: 50px;
  font-size: 32px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  margin: 5px;
  border: 2px solid #fff; /* White border for better contrast */
  background: #000000; /* Dark blue background */
  font-weight: bold;
  color: #818181;
  outline: none;
  transition: all 0.1s;
}

.sign-in {
  background-color: #000;
  color: #818181;
}

.buttons {
  margin-top: 20px; /* Add top margin for spacing */
}

button {
  padding: 10px 20px; /* Add padding to the buttons */
  margin: 0 10px; /* Add margin to separate the buttons */
  cursor: pointer; /* Change cursor to pointer on hover */
}

/* Style for Cancel button */
button[type="button"] {
  background-color: #ee0a0a; /* Light gray background */
  color: #ffffff; /* Dark text color for contrast */
  border: none; /* Remove button border */
}

/* Style for Sign in button */
button[type="submit"] {
  background-color: #4caf50; /* Green background */
  color: #fff; /* White text color for contrast */
  border: none; /* Remove button border */
}

/*dashboard page*/

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1; /*ta tdal fo2 sebte*/
  top: 0;
  left: 0;
  background-color: #000;
  overflow-x: hidden; /*disable horizontal scroll*/
  padding: 20px;
}

.main {
  margin-left: 160px;
  padding: 0px 10px;
}

/*menu links*/
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/*mouse over sidebar links*/
.sidenav a:hover {
  color: #fff;
}
